<body>

  <div class="sidebar">
    <h2>Sections</h2>
    <ul>
      <li><a href="/music/">🎵 music stuff</a></li>
      <li><a href="/books/">📚 book reviews</a></li>
      <li><a href="/lists/">📋 lists</a></li>
      <li><a href="/blog/">📝 general blog stuff</a></li>
      <li><a href="/photography/">📷 photography</a></li>
      <li><a href="/world/">🌍 saving the world</a></li>
      <li><a href="/climbing/">🧗 climbing</a></li>
    </ul>
  </div>

  <div class="main-content">
    {{ content }}
  </div>

</body>
