---
layout: default
---
<main class="py-5">
  <div class="container">
    <div class="row align-items-center g-5">

      <div class="col-md-7">
        <h1 class="display-3 fw-bold mb-4">{{ page.headline }}</h1>
        <div class="lead-first">
          {{ content }}
        </div>
        <div class="mt-4">
          <a href="/portfolio/" class="btn btn-primary btn-lg me-2">See my work</a>
          <a href="/blog/" class="btn btn-outline-dark btn-lg">Read the blog</a>
        </div>
      </div>

      <div class="col-md-5">
        <div class="row g-3">
          {% for photo in page.photos %}
          <div class="{% if forloop.first %}col-12{% else %}col-6{% endif %}">
            <img src="{{ photo.src }}" alt="{{ photo.alt }}" class="img-fluid border border-dark border-3 w-100">
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</main>
